mcp_junos_port: 10008

default:
  user: "admin"
  passwd: ""
  port: 830

r1:
  host: 172.20.20.2
  user: "admin"
  passwd: ""
  port: 830

r2:
  host: 172.20.20.3
  user: "admin"
  passwd: ""
  port: 830

